.done {
    text-decoration: line-through;
    text-decoration-color:red ;
    content: "\2713";
}
.done:before{
    content: '\2713';
}

li:hover{
    cursor: pointer;
}

.x-mark {
    font-size: 1rem;
    padding: 5px;

}

.x-mark:hover{
    cursor: pointer;
}
