.done {
    text-decoration: line-through;
    text-decoration-color:red ;
}

li:hover{
    cursor: pointer;
}

.x-mark {
    font-size: 1rem;
    padding: 5px;

}

.x-mark:hover{
    cursor: pointer;
}
